$b: '.site-header';

#{$b} {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: rem(38px);
  z-index: 1000;

  * svg {
    fill: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: rem(32px);

    & .svg {
      width: rem(127px);
      height: rem(32px);
    }
  }

  &__interact {
    display: flex;
    align-items: center;

    &-search {
      flex: 0 0 auto;
      position: relative;
      width: rem(440px);
      height: rem(72px);
      border: 1px solid $border-base;
      border-radius: rem(24px);
      padding-right: rem(47px);
      padding-left: rem(28px);
      overflow: hidden;

      &-input {
        height: 100%;
        width: 100%;
        font-size: rem(24px);
        font-weight: 400;

        &:focus {
          + #{$b}__interact-search-label {
            display: none;
          }
        }
      }

      &-label {
        font-size: rem(24px);
        font-weight: 400;
        position: absolute;
        top: 50%;
        left: rem(28px);
        transform: translateY(-50%);
      }

      &::before {
        content: url('../img/icons/search.svg');
        position: absolute;
        top: 50%;
        right: rem(28px);
        transform: translateY(-50%);
      }
    }

    &-cart {
      @include clickable();
      flex: 0 0 auto;
      margin-left: rem(121px);

      & .svg {
        width: rem(26px);
        height: rem(32px);
      }
    }

    &-menu {
      @include clickable();
      @include icon-hover();
      flex: 0 0 auto;
      margin-left: rem(70px);

      & .svg {
        width: rem(72px);
        height: rem(72px);
      }
    }
  }
}
