$b: '.s-hero';

#{$b} {
  padding-top: rem(130px);

  &__content {
    display: flex;

    @include tablet {
      display: block;
    }
  }

  &__best {
    position: relative;
    flex: 0 0 auto;
    width: 75%;
    height: 100%;
    overflow: hidden;

    &-headline {
      display: flex;
      align-items: center;
      margin-bottom: rem(56px);
    }

    &-title {
      font-size: rem(80px);
      line-height: rem(92px);
      font-weight: bold;
    }

    &-sort {
      @include icon-hover();
      @include clickable();
      margin-left: rem(161px);
      padding: rem(29px) rem(25px);
      border-radius: 50%;
      background-color: $white-true;

      & .svg {
        width: rem(24px);
        height: rem(14px);
      }
    }

    &-slider {
      width: 100%;
      padding-bottom: rem(80px);
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: rem(400px);
        background: linear-gradient(265deg, $white-true 21%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
      }

      &-wrapper {
        display: flex;
      }

      &-slide {
        flex: 0 0 auto;
        width: rem(398px);
      }

      &-navigation {
        position: absolute;
        top: rem(-147px);
        right: 0;
        display: flex;
      }

      &-prev,
      &-next {
        @include clickable();
        width: rem(72px);
        height: rem(72px);
        padding: rem(26px) rem(24px);
        border-radius: 50%;
        z-index: 1000;
        transition: $g-transition;
        border: 1px solid transparent;

        &:hover,
        &:focus {
          border-color: $border-base;
        }

        svg {
          width: rem(22px);
          height: rem(18px);
          fill: none;
        }
      }

      &-next {
        transform: rotate(180deg);
      }
    }
  }

  &__product {
    position: relative;
    width: 100%;
    height: 60vh;
    padding: rem(8px);
    background-color: $white-true;
    border-radius: rem(40px);

    &::before {
      content: '';
      position: absolute;
      bottom: rem(-50px);
      height: 100%;
      left: rem(50px);
      right: rem(50px);
      background: rgba(110, 148, 160, 0.417696);
      filter: blur(rem(30px));
      z-index: -1;
      opacity: 0;
      transition: $g-transition;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      #{$b}__product {
        &-info {
          background-color: $purple;
          color: $white-true;
        }

        &-add {
          background-color: $purple-dark;
        }
      }
    }

    &-content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-visual {
      height: 100%;
      width: 100%;
      padding-bottom: rem(120px);
      border-radius: rem(40px) rem(40px) 0 0;
      overflow: hidden;

      &-img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: rem(37px);
      width: 100%;
      height: rem(200px);
      background-color: $purple-light;
      border-radius: rem(32px);
      transition: $g-transition;

      &-content {
        position: relative;
      }
    }

    &-name {
      font-size: rem(32px);
      font-weight: bold;
    }

    &-descr {
      margin-top: rem(6px);
      font-size: rem(20px);
      opacity: 0.5;
    }

    &-price {
      margin-top: rem(30px);
      font-size: rem(20px);
      font-weight: bold;
    }

    &-add {
      @include clickable();
      position: absolute;
      bottom: 0;
      right: rem(-10px);
      width: rem(61px);
      height: rem(61px);
      font-size: rem(32px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white-true;
      border-radius: 50%;
      transition: $g-transition;
      filter: drop-shadow(0 5 3px $shadow-2);

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  &__accessories {
    flex: 0 0 auto;
    width: 25%;
    padding-top: rem(20px);

    &-blocks {
      padding-left: rem(48px);
      padding-right: 10px;
      max-height: 60vh;
      overflow-y: auto;
    }

    &-title {
      padding-left: rem(48px);
      font-weight: bold;
      font-size: rem(28px);
      line-height: rem(32px);
      margin-bottom: rem(86px);
    }

    &-block {
      @include clickable();
      position: relative;
      padding: rem(32px);
      display: flex;
      align-items: center;
      border: 1px solid $border-base;
      border-radius: rem(40px);
      transition: $g-transition;

      &:not(:last-child) {
        margin-bottom: rem(40px);

        @include tablet {
          margin-bottom: 20px;
        }
      }

      &:hover {
        padding-left: rem(80px);
        margin-left: rem(-48px);
        background-color: $purple;
        border-color: $purple;

        #{$b}__accessories-price {
          opacity: 1;
        }

        #{$b}__accessories-name,
        #{$b}__accessories-info {
          color: $white-true;
        }
      }
    }

    &-visual {
      flex: 0 0 auto;
      width: rem(120px);
      height: rem(120px);
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin-right: rem(30px);
    }

    &-name {
      font-weight: bold;
      font-size: rem(24px);
      line-height: rem(27px);
    }

    &-info {
      color: $gray;
      font-size: rem(16px);
      line-height: rem(24px);
    }

    &-price {
      position: absolute;
      top: 50%;
      left: rem(-25px);
      padding: rem(12px) rem(37px);
      background-color: $purple-dark;
      border-radius: rem(48px);
      transform: translateY(-50%) rotate(-90deg);
      opacity: 0;
      transition: $g-transition;

      &-inner {
        font-size: rem(20px);
        line-height: rem(24px);
        opacity: 0.7;
        color: $white-true;
      }
    }
  }
}

.scrollbar-thumb {
  width: 4px !important;
  background: $purple-extra-light !important;
}

.scrollbar-track {
  width: 4px !important;
  background: $purple-light !important;
}
