<section class="s-hero section">
    <div class="s-hero__wrapper l-outer-width l-inner-padding">
        <div class="s-hero__container">
            <div class="s-hero__content">
                <div class="s-hero__best">
                    <div class="s-hero__best-headline">
                        <h1 class="s-hero__best-title">
                            Best Sellers
                        </h1>
                        <div class="s-hero__best-sort">
                            {{ inc.inlineSvg('s-hero__best-sort', '../img/icons/sort.svg') }}
                        </div>
                    </div>
                    <div class="s-hero__best-slider js-s-hero__best-slider">
                        <div class="s-hero__best-slider__slider swiper-container js-slider">
                            <div class="s-hero__best-slider-wrapper swiper-wrapper">
                                <div class="s-hero__best-slider-slide swiper-slide">
                                    <div class="s-hero__product">
                                        <div class="s-hero__product-content">
                                            <div class="s-hero__product-visual">
                                                <div class="s-hero__product-visual-img" style="background-image: url('../img/1.jpg')"></div>
                                            </div>
                                            <div class="s-hero__product-info">
                                                <div class="s-hero__product-info-content">
                                                    <div class="s-hero__product-name">Face Mask</div>
                                                    <div class="s-hero__product-descr">Grape Fruit</div>
                                                    <div class="s-hero__product-price">$16,00</div>
                                                    <div class="s-hero__product-add">+</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-hero__best-slider-slide swiper-slide">
                                    <div class="s-hero__product">
                                        <div class="s-hero__product-content">
                                            <div class="s-hero__product-visual">
                                                <div class="s-hero__product-visual-img" style="background-image: url('../img/2.jpg')"></div>
                                            </div>
                                            <div class="s-hero__product-info">
                                                <div class="s-hero__product-info-content">
                                                    <div class="s-hero__product-name">Rice Cream</div>
                                                    <div class="s-hero__product-descr">Rice Bran Oil</div>
                                                    <div class="s-hero__product-price">$19,00</div>
                                                    <div class="s-hero__product-add">+</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-hero__best-slider-slide swiper-slide">
                                    <div class="s-hero__product">
                                        <div class="s-hero__product-content">
                                            <div class="s-hero__product-visual">
                                                <div class="s-hero__product-visual-img" style="background-image: url('../img/3.jpg')"></div>
                                            </div>
                                            <div class="s-hero__product-info">
                                                <div class="s-hero__product-info-content">
                                                    <div class="s-hero__product-name">Face Mask</div>
                                                    <div class="s-hero__product-descr">Grape Fruit</div>
                                                    <div class="s-hero__product-price">$16,00</div>
                                                    <div class="s-hero__product-add">+</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-hero__best-slider-slide swiper-slide">
                                    <div class="s-hero__product">
                                        <div class="s-hero__product-content">
                                            <div class="s-hero__product-visual">
                                                <div class="s-hero__product-visual-img" style="background-image: url('../img/4.jpg')"></div>
                                            </div>
                                            <div class="s-hero__product-info">
                                                <div class="s-hero__product-info-content">
                                                    <div class="s-hero__product-name">Rice Cream</div>
                                                    <div class="s-hero__product-descr">Rice Bran Oil</div>
                                                    <div class="s-hero__product-price">$19,00</div>
                                                    <div class="s-hero__product-add">+</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-hero__best-slider-slide swiper-slide">
                                    <div class="s-hero__product">
                                        <div class="s-hero__product-content">
                                            <div class="s-hero__product-visual">
                                                <div class="s-hero__product-visual-img" style="background-image: url('../img/5.jpg')"></div>
                                            </div>
                                            <div class="s-hero__product-info">
                                                <div class="s-hero__product-info-content">
                                                    <div class="s-hero__product-name">Face Mask</div>
                                                    <div class="s-hero__product-descr">Grape Fruit</div>
                                                    <div class="s-hero__product-price">$16,00</div>
                                                    <div class="s-hero__product-add">+</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-hero__best-slider-slide swiper-slide"></div>
                            </div>
                            <div class="s-hero__best-slider-navigation">
                                <div class="s-hero__best-slider-prev swiper-button-prev js-slider-prev">{{ inc.inlineSvg('s-hero__best-sort', '../img/icons/arrow-left.svg') }}</div>
                                <div class="s-hero__best-slider-next swiper-button-next js-slider-next">{{ inc.inlineSvg('s-hero__best-sort', '../img/icons/arrow-left.svg') }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-hero__accessories">
                    <div class="s-hero__accessories-title">Accessories</div>
                    <div class="s-hero__accessories-block">
                        <div class="s-hero__accessories-visual"></div>
                        <div class="s-hero__accessories-text">
                            <div class="s-hero__accessories-name">Comb 2.0</div>
                            <div class="s-hero__accessories-info">Original Version</div>
                        </div>
                    </div>
                    <div class="s-hero__accessories-block">
                        <div class="s-hero__accessories-img"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
