<section class="s-main">
    <div class="s-main__wrapper">
        <div class="s-main__container">
            <div class="s-main__decor">
                <div class="s-main__decor-container"></div>
            </div>
            <div class="s-main__content"></div>
            {% include "modules/site-header.twig" %}
            {% include "modules/hero.twig" %}
        </div>
    </div>
</section>
