{% import "includes/_includes.twig" as inc %}
<!DOCTYPE html>
<html lang="ru">
{% include 'modules/head.twig' %}
<body class="{{ pageClass }}">
<div class="l-wrapper">
    {% include "modules/site-header.twig" %}
    <main class="l-main">
        {% block content %}{% endblock %}
    </main>
    {% include "modules/site-footer.twig" %}
    {% include "modules/site-preloader.twig" %}
</div>
</body>
</html>
