<section class="hero section">
    <div class="hero__wrapper l-outer-width l-inner-padding">
        <div class="hero__container">
            <div class="hero__content">
                <div class="hero__best">
                    <div class="hero__best-headline">
                        <h1 class="hero__best-title">
                            Best Sellers
                        </h1>
                        <div class="hero__best-sort">
                            {{ inc.inlineSvg('hero__best-sort', '../img/icons/sort.svg') }}
                        </div>
                    </div>
                    <div class="hero__best-slider js-hero__best-slider">
                        <div class="hero__best-slider__slider swiper-container js-slider">
                            <div class="hero__best-slider__wrapper swiper-wrapper">
                                <div class="hero__best-slider__slide swiper-slide">Slide 1</div>
                                <div class="hero__best-slider__slide swiper-slide">Slide 2</div>
                                <div class="hero__best-slider__slide swiper-slide">Slide 3</div>
                                <div class="hero__best-slider__slide swiper-slide">Slide 4</div>
                            </div>
                        </div>
                        <div class="hero__best-slider__navigation">
                            <div class="hero__best-slider__prev swiper-button-prev js-slider-prev"></div>
                            <div class="hero__best-slider__next swiper-button-next js-slider-next"></div>
                        </div>
                        <div class="hero__best-slider__pagination slider-pagination js-slider-pagination"></div>
                    </div>
                </div>
                <div class="hero__accessories"></div>
            </div>
        </div>
    </div>
</section>
